#score_container {
    visibility: hidden;
}

.unanswered {
    font-weight: bold;
}

input[type='radio'] { 
	margin-left: 10px; 
	transform: scale(1.25); 
}

#quiz_body .row {
    padding-top: 5px;
}

#quiz_questions label {
    padding: 5px;
}